# parentchart/requirements.yaml
dependencies:
  - name: transformer
    version: 0.1.0
    alias: optimusprime
#avoiding hyphen (i.e. not optimus-prime) as per https://github.com/kubernetes/helm/issues/2192
    condition: optimusprime.enabled
    tags:
      - autobots
  - name: transformer
    version: 0.1.0
    alias: gears
    condition: gears.enabled
    tags:
      - autobots
  - name: transformer
    version: 0.1.0
    alias: megatron
    condition: megatron.enabled
    tags:
      - decepticons
  - name: transformer
    version: 0.1.0
    alias: shockwave
    condition: megatron.enabled
    tags:
      - decepticons